<nav class="w-full bg-black">

</nav>

<header class="bg-black pt-3">
  <div class="lg:rounded-[4rem] rounded-[3rem] bg-home bg-cover bg-center h-screen lg:h-screen-4/5 flex flex-col p-10 mx-3">
    <!--Faux Nav-->
    <div class="flex">
      <%= image_tag "penn-air-logo-250.webp", alt: "", class: "lg:h-32 h-24"%>
    </div>
    <!--Main content-->
    <div class="flex flex-col justify-center h-full">
      <h1 class="lg:text-6xl text-5xl tracking-tight font-stretch-md">Aircraft Maintenance</h1>
      <h2 class="text-xl font-semibold font-stretch-md pt-3 pb-5">Penn Air Repair is Heritage Field's aircraft maintenance company</h2>
      <!--<button class="btn-primary w-52">CONTACT US</button>-->
    </div>
  </div>
</header>
<section class="bg-black py-10">
  <div class="lg:rounded-[4rem] rounded-[3rem] bg-neutral-100 flex flex-col items-center mx-3 p-10">
    <div class=" flex flex-col justify-center max-w-5xl">
      <div class="flex items-center pb-20">
        <h3 class="lg:w-4/5 text-xl font-semibold font-stretch-md">Experience in maintenance and repair for general aviation and corporate aviation</h3>
      </div>
      <div class="grid grid-cols-2 lg:grid-cols-4 self-center place-items-center gap-12">
        <%= image_tag "penn-air-cessna.webp", class: "lg:h-32 h-16", alt: "Cesssna Logo"%>
        <%= image_tag "penn-air-piper.webp", class: "", alt: "Piper Logo"%>
        <%= image_tag "penn-air-beechcraft.webp", class: "", alt: "Beechcraft Logo"%>
        <%= image_tag "penn-air-mooney.webp", class: "", alt: "Mooney Logo"%>
        <%= image_tag "penn-air-lycoming.webp", class: "", alt: "Lycoming Logo"%>
        <%= image_tag "penn-air-continental.webp", class: "", alt: "Continental Logo"%>
        <%= image_tag "penn-air-rotax.webp", class: "", alt: "Rotax Logo"%>
        <%= image_tag "penn-air-hartzell.webp", class: "", alt: "Hartzell Logo"%>
      </div>
    </div>
  </div>
</section>
<section class="bg-black text-white p-10 flex flex-col items-center">
  <div class="max-w-4xl">
    <p class="text-4xl font-semibold font-stretch-lg tracking-wide pb-5">Keeping You Flying in the Air</p>
    <p class="pb-10 text-neutral-300">
      Our maintenance technicians are ready to handle your aircraft repair and maintenance needs. From routine inspections and preventative maintenance to major repairs and pre-buy inspections, we are your one stop source for aircraft repair and maintenance. We will be happy to assist you with the following and much more.
    </p>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-10">
      <div class="p-5 border-2 border-neutral-500 rounded-2xl">
        <svg  height="50px" width="50px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css">  .st0{fill:#ffffff;}  </style> <g> <path class="st0" d="M104.426,139.813l83.563,83.781c14.344-13.766,26.781-25.703,36.109-34.672l-84.297-84.5l-10.313-45.719 L54.27,12.985L33.629,33.642L12.988,54.282l45.719,75.219L104.426,139.813z"></path> <path class="st0" d="M358.363,276.298L481.926,399.47c22.781,22.766,22.781,59.688,0,82.469c-22.781,22.766-59.688,22.766-82.469,0 L275.895,358.767L358.363,276.298z"></path> <path class="st0" d="M459.957,203.407c42.547-38.609,49.656-82.484,40.141-119.484c-0.281-2.938-0.984-5.406-3.547-7.25 l-8.563-7.016c-1.484-1.391-3.484-2.063-5.484-1.875c-2.016,0.203-3.844,1.234-5.031,2.875l-49.25,64.031 c-1.375,1.891-3.594,2.969-5.922,2.891l-17.875,1.313c-1.531-0.047-3.016-0.594-4.219-1.563l-34.531-29.266 c-1.406-1.141-2.328-2.766-2.563-4.563l-2.141-16.188c-0.25-1.781,0.203-3.594,1.266-5.063l46.109-62.641 c2.094-2.875,1.688-6.859-0.906-9.281l-11.188-8.75c-2.188-2.031-4.672-1.75-8.063-1.094 c-31.844,6.281-86.219,37.125-100.016,79.75c-12.156,37.516-7.922,63.969-7.922,63.969c0,21.141-6.953,41.516-15.5,50.063 L24.504,424.923c-0.469,0.422-0.922,0.859-1.375,1.313c-19.844,19.844-19.813,52.047-0.641,71.219s51.859,19.672,71.703-0.172 c0.922-0.922,1.813-1.875,2.641-2.859l231.672-250.438C357.004,218.61,413.426,245.642,459.957,203.407z"></path> </g> </g></svg>
        <p class="pt-5 text-neutral-300">
          Our experience encompasses a wide range of airframes and powerplants in the aviation industry. We have a proven track record in servicing aircraft models including Mooney, Cessna, Beech, Piper, and a host of other general aviation platforms. Our team's proficiency in handling these diverse airframes and powerplants is a testament to our dedication to providing comprehensive aviation maintenance solutions.
        </p>
      </div>
      <div class="p-5 border-2 border-neutral-500 rounded-2xl">
        <svg fill="#ffffff" height="50px" width="50px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 122.88 122.88" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{fill-rule:evenodd;clip-rule:evenodd;} </style> <g> <path class="st0" d="M16.63,105.75c0.01-4.03,2.3-7.97,6.03-12.38L1.09,79.73c-1.36-0.59-1.33-1.42-0.54-2.4l4.57-3.9 c0.83-0.51,1.71-0.73,2.66-0.47l26.62,4.5l22.18-24.02L4.8,18.41c-1.31-0.77-1.42-1.64-0.07-2.65l7.47-5.96l67.5,18.97L99.64,7.45 c6.69-5.79,13.19-8.38,18.18-7.15c2.75,0.68,3.72,1.5,4.57,4.08c1.65,5.06-0.91,11.86-6.96,18.86L94.11,43.18l18.97,67.5 l-5.96,7.47c-1.01,1.34-1.88,1.23-2.65-0.07L69.43,66.31L45.41,88.48l4.5,26.62c0.26,0.94,0.05,1.82-0.47,2.66l-3.9,4.57 c-0.97,0.79-1.81,0.82-2.4-0.54l-13.64-21.57c-4.43,3.74-8.37,6.03-12.42,6.03C16.71,106.24,16.63,106.11,16.63,105.75 L16.63,105.75z"></path> </g> </g></svg>
        <p class="pt-5 text-neutral-300">
          We also work with and have decades of experience in the maintenance of turboprop aircraft, such as the King Air, Pilatus, and Cessna. Penn Air Repair proudly considers itself a specialist in the realm of turboprop aircraft care. We are well equipped to cater to the unique maintenance needs your aircraft. Whether it's routine inspections, complex repairs, or performance optimizations, you can trust us to deliver top tier service.
        </p>
      </div>
      <div class="p-5 border-2 border-neutral-500 rounded-2xl">
        <svg height="50px" width="50px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{fill:#ffffff;} </style> <g> <path class="st0" d="M499.139,318.571l-37.178-5.407c-2.329-0.178-4.336-1.642-5.228-3.8l-12.054-29.086 c-0.901-2.15-0.526-4.613,1-6.379l22.243-29.88c3.533-4.141,3.301-10.314-0.554-14.168l-17.602-17.594 c-3.846-3.854-10.029-4.104-14.159-0.553l-29.889,22.233c-1.758,1.518-4.238,1.91-6.38,1.018l-29.094-12.062 c-2.151-0.883-3.622-2.926-3.81-5.228l-5.389-37.169c-0.428-5.442-4.96-9.635-10.402-9.635h-24.893 c-5.45,0-9.983,4.193-10.402,9.635l-5.407,37.169c-0.17,2.32-1.642,4.345-3.792,5.228l-29.103,12.062 c-2.151,0.892-4.613,0.5-6.388-1.018l-29.872-22.233c-4.13-3.542-10.304-3.302-14.167,0.553l-17.594,17.594 c-3.854,3.854-4.086,10.028-0.554,14.168l22.234,29.888c1.508,1.758,1.91,4.229,1.009,6.371l-12.054,29.086 c-0.874,2.159-2.908,3.622-5.219,3.81l-37.195,5.398c-5.425,0.429-9.618,4.961-9.618,10.412v24.883 c0,5.442,4.194,9.993,9.618,10.403l37.195,5.398c2.311,0.188,4.345,1.659,5.219,3.81l12.054,29.086 c0.901,2.159,0.5,4.63-1.009,6.388l-22.234,29.889c-3.533,4.14-3.301,10.295,0.554,14.168l17.594,17.594 c3.863,3.854,10.037,4.086,14.167,0.544l29.872-22.243c1.775-1.498,4.237-1.9,6.388-0.998l29.103,12.044 c2.151,0.902,3.622,2.918,3.802,5.246l5.398,37.169c0.428,5.433,4.952,9.636,10.402,9.636h24.893c5.451,0,9.974-4.203,10.402-9.636 l5.389-37.169c0.188-2.328,1.659-4.344,3.81-5.246l29.103-12.044c2.142-0.902,4.622-0.5,6.379,0.998l29.881,22.243 c4.13,3.542,10.314,3.31,14.159-0.544l17.602-17.594c3.864-3.873,4.087-10.028,0.554-14.168l-22.243-29.889 c-1.499-1.758-1.9-4.229-1-6.388l12.054-29.086c0.892-2.151,2.899-3.622,5.228-3.81l37.178-5.398 c5.434-0.41,9.627-4.961,9.627-10.403v-24.883C508.766,323.532,504.573,319,499.139,318.571z M379.093,382.328 c-10.93,10.912-25.445,16.926-40.898,16.926c-15.444,0-29.978-6.014-40.898-16.926c-10.92-10.938-16.943-25.454-16.943-40.907 c0-15.444,6.022-29.969,16.943-40.89c10.92-10.939,25.454-16.934,40.898-16.934c15.454,0,29.969,5.995,40.898,16.934 c10.92,10.92,16.934,25.446,16.934,40.89C396.027,356.874,390.014,371.39,379.093,382.328z"></path> <path class="st0" d="M187.351,252.156c4.032-1.445,6.254-5.746,5.122-9.868l-5.898-28.854c-0.472-1.767,0.072-3.649,1.419-4.88 l18.263-16.621c1.338-1.222,3.284-1.588,4.97-0.946l27.961,8.466c3.989,1.508,8.485-0.294,10.306-4.166l8.297-17.656 c1.837-3.881,0.366-8.485-3.346-10.591l-24.339-16.14c-1.58-0.91-2.535-2.632-2.436-4.452l1.16-24.66 c0.098-1.829,1.186-3.444,2.838-4.194l26.008-13.874c3.898-1.74,5.781-6.218,4.336-10.215l-6.603-18.371 c-1.454-4.024-5.755-6.254-9.876-5.121l-28.863,5.879c-1.767,0.5-3.632-0.053-4.871-1.41L195.185,56.23 c-1.24-1.357-1.614-3.265-0.955-4.978l8.468-27.944c1.507-4.006-0.294-8.494-4.175-10.306l-17.648-8.306 c-3.872-1.821-8.494-0.366-10.608,3.354l-16.131,24.34c-0.902,1.58-2.623,2.533-4.444,2.445l-24.66-1.169 c-1.82-0.08-3.462-1.205-4.202-2.847L106.974,4.821c-1.758-3.898-6.219-5.782-10.234-4.336L78.379,7.096 c-4.024,1.446-6.254,5.738-5.112,9.859l5.888,28.872c0.482,1.748-0.062,3.64-1.418,4.862l-18.264,16.63 c-1.356,1.222-3.274,1.597-4.987,0.955l-27.944-8.476c-3.988-1.516-8.476,0.304-10.305,4.175L7.939,81.622 c-1.82,3.872-0.366,8.494,3.346,10.599l24.339,16.14c1.588,0.902,2.534,2.615,2.436,4.435l-1.16,24.66 c-0.071,1.838-1.187,3.444-2.837,4.193L8.055,155.522c-3.9,1.749-5.782,6.219-4.336,10.216l6.611,18.37 c1.445,4.024,5.746,6.254,9.859,5.131l28.881-5.906c1.749-0.482,3.64,0.071,4.862,1.427l16.612,18.255 c1.24,1.356,1.598,3.283,0.954,4.987l-8.466,27.944c-1.499,3.997,0.304,8.485,4.175,10.305l17.648,8.297 c3.881,1.829,8.493,0.357,10.608-3.346l16.122-24.348c0.91-1.57,2.623-2.534,4.452-2.428l24.661,1.16 c1.829,0.09,3.453,1.178,4.211,2.846l13.847,25.989c1.767,3.9,6.219,5.8,10.233,4.354L187.351,252.156z M148.229,172.296 c-11.394,4.095-23.714,3.524-34.68-1.633c-10.965-5.157-19.245-14.275-23.358-25.678c-4.095-11.402-3.524-23.714,1.634-34.67 c5.156-10.974,14.283-19.254,25.677-23.357c11.402-4.105,23.714-3.534,34.67,1.641c10.956,5.139,19.254,14.258,23.366,25.66 c4.096,11.403,3.516,23.706-1.632,34.672C168.731,159.886,159.621,168.183,148.229,172.296z"></path> </g> </g></svg>
        <p class="pt-5 text-neutral-300">
          Penn Air Repair offers comprehensive maintenance services with a broad spectrum of capabilities. Our ability to efficiently handle your engine maintenance and inspection needs is enhanced by our strong connections with industry leading engine affiliates. Typically, engine replacements are seamlessly integrated into regular inspection cycles, ensuring minimal downtime.
        </p>
      </div>
    
    </div>
  </div>
</section>

<section class="bg-black text-white px-10 pb-20">
  <div class="flex flex-col max-w-4xl pb-10">
    <h2 class="font-stretch-lg text-xl text-neutral-300">Our Services</h2>
    <p class="text-5xl font-semibold font-stretch-md">Aircraft Maintenance You <br class="hidden lg:block">Can Depend On</p>
  </div>
  <div class="flex flex-col lg:flex-row">
    <div class="lg:w-1/2">
      <%= image_tag "penn-air-engine.webp", class: "rounded-2xl", alt: "Aircraft engine.  Photo from Flickr Peat Bakke", title: "Aircraft engine.  Photo from Flickr Peat Bakke"%>
    </div>
    <div class="lg:w-1/2 flex flex-col">
      
      <p class="text-neutral-300 py-5">
        <span class="font-semibold text-xl font-stretch-md text-white">Repair and Service</span> 
        Penn Air Repair excels in aircraft repair and maintenance. Our skilled technicians handle a broad spectrum of needs, from minor fixes to major overhauls. We prioritize swift, high-quality service to minimize aircraft downtime. Whether it's engine, avionics, or structural work, trust us to ensure your aircraft's safety and reliability. 
      </p>

      <p class="text-neutral-300 pb-5">
        <span class="font-semibold text-xl font-stretch-md text-white">Inspections</span> At Penn Air Repair, we conduct FAA mandated annual aircraft inspections with precision and expertise. Our experienced technicians thoroughly examine your aircraft's systems, components, and documentation to ensure airworthiness and compliance with FAA regulations. 
      </p>
      
      <p class="text-neutral-300 pb-5">
        <span class="font-semibold text-xl font-stretch-md text-white">Parts and MRO</span> 
        Penn Air Repair offers a wide range of quality aircraft parts for your maintenance and repair needs. We source from reputable manufacturers, ensuring reliability and efficiency. Trust us for prompt and efficient supply of the right parts to keep your aircraft safe and operational.
      </p>
    </div>
  </div>
</section>

<section class="bg-black px-3 lg:px-10 pb-20">
  <div class="flex flex-col lg:flex-row">
    <div class="lg:w-1/2 flex flex-col text-white">
      <h2 class="font-stretch-lg text-xl text-neutral-300">Contact Us</h2>
      <p class="text-5xl font-semibold font-stretch-md">Let's Get You Flying Again</p>
      <p>

      </p>
      <!--NAP-->
      <div class="flex flex-col justify-center h-full py-10 pl-10 lg:pl-20 gap-5 w-full">
        <div class="flex flex-row">
          <div class="text-custom-50">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
            </svg>

          </div>
          <div class="ml-5">
            3310 W Ridge Pike<br>
            Pottstown, PA 19464
          </div>
        </div>
        
        <div class="flex flex-row">
          <div class="text-custom-50">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
            </svg>
          </div>
          <div class="ml-5">
            <a href="tel:1-754-423-2159"> (610) 495-7000</a><br>
          </div>
        </div>
        
        <div class="flex flex-row">
          <div class="text-custom-50">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
            </svg>
          </div>
          <div class="ml-5">
            <a href="mailto:info@pennairrepair.com">info@pennairrepair.com</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="lg:w-1/2 rounded-3xl bg-white flex flex-col lg:px-10 px-3 mx-3">
      <%= turbo_frame_tag 'form-section', class: "h-full" do %>
        <%= render 'form', message: @message%>
      <% end %>
    </div>
  </div>
  </div>
  
</section>

<section class="flex flex-col items-center bg-black">
<p class="text-center text-neutral-300 italic max-w-4xl pb-2">This site is under construction and incomplete.  Please give us a call or visit us for more details. Penn Air Repair LLC</p>
</section>